.box{
    height: 50px;
    background-color: #006cfa;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 50px;
    padding: 10px;
}
.nested-box{
    background-color: lime;
    border: 1px solid white;
    height: 60%;
}